@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Bitblox";
    src: url("/fonts/Bitblox.oft");
}

@font-face {
    font-family: "Vcr";
    src: url("/fonts/Vcr.ttf");
}

@font-face {
    font-family: "Manaspace";
    src: url("/fonts/Manaspace.oft");
}

html {
 background-color: #2B7FD5;
}

