@import "tailwindcss";

@font-face {
  font-family: "Web";
  src: url("/fonts/webpixel.otf");
}

@font-face {
  font-family: "Frick";
  src: url("/fonts/Frick.otf");
}


@layer {
  .font-web {
    font-family: "Web";
  }

    .font-frick {
    font-family: "Fricl";
  }
}

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

body {
  background: transparent;
  color: black;
  font-family: "Web", serif;
  margin: 8px;
  position: relative;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: -1;
}

.text-video-effect {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-video-effect__svg {
  width: min(70vw, 600px);
  height: auto;
  display: block;
}

.text-video-effect video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  border-style: "outset";
  border-color: "#dfdfdf" 
}

button:disabled {
  cursor: default;
}


body::-webkit-scrollbar {
  width: 0px;
  opacity: 0;
}

body:hover::-webkit-scrollbar {
  opacity: 0;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

div::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  opacity: 0;
}

div:hover::-webkit-scrollbar {
  opacity: 0;
}

div::-webkit-scrollbar-track {
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  background-color: transparent;
}
